@import 'tailwindcss';

@theme {
	--color-primary: #ff4e00;
	--color-secondary: #243f8d;
}

@layer utilities {
	.container {
		@apply w-full mx-auto max-w-[90%] 2xl:max-w-[1350px];
	}
	.text {
		@apply text-base leading-relaxed;
	}
	.h1 {
		@apply text-3xl leading-tight sm:text-4xl sm:leading-tight md:text-5xl md:leading-snug font-bold;
	}
	.h2 {
		@apply text-4xl font-bold leading-snug;
	}
	.h3 {
		@apply text-3xl font-bold leading-snug;
	}
	.h4 {
		@apply text-2xl font-bold leading-snug;
	}
	.h5 {
		@apply text-xl font-bold leading-snug;
		@apply text-lg leading-snug md:text-xl md:leading-snug font-bold;
	}
	.h6 {
		@apply text-base leading-snug md:text-lg md:leading-snug font-bold;
	}

	.button-primary {
		@apply bg-primary text-white px-6 py-3 rounded-xl cursor-pointer hover:brightness-90 transition-all;
	}
	.animate-fan {
		animation: spin 5s linear infinite;
	}
	.shadow-soft {
		@apply shadow-[0px_2px_10px_rgba(0,0,0,0,1)];
	}
}
body {
	font-family: var(--font-sans);
}
